<section class="row">

  <div class="col-md-8 col-md-offset-2">
    <!-- Received / Sent -->
    <button class="btn btn-primary" ng-click="messages.tab = 1">Received Messages</button>
    <button class="btn btn-primary" ng-click="messages.tab = 2">Sent Messages</button>
    <a data-toggle="modal" data-target="#newMessageModal" class="btn btn-success pull-right">New Message</a>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div ng-show="messages.tab == 1" ng-init="messages.tab = 1">
        <div ng-show="messages.msg.received.length">
          <h1 class="white">Received Messages</h1>

          <table class="table table-white table-condensed">
            <tr ng-repeat="message in messages.msg.received">
              <td>{{message.msg_title}}</td>
              <td>{{message.msg_body}}</td>
            </tr>
          </table>
        </div>

        <div ng-hide="messages.msg.received.length">
          <h2 class="white"><em>No new messages.</em></h2>
        </div>
      </div>

      <div ng-show="messages.tab == 2">
        <div ng-show="messages.msg.sent.length">
          <h1 class="white">Sent Messages</h1>

          <table class="table table-white table-condensed">
            <tr ng-repeat="message in messages.msg.sent">
              <td>{{message.msg_title}}</td>
              <td>{{message.msg_body}}</td>
            </tr>
          </table>
        </div>
      </div>

      <div ng-hide="messages.msg.sent.length">
        <h2 class="white"><em>No sent messages.</em></h2>
      </div>
    </div>
  </div>

  <!-- Break into tabs! -->

</section>

<!-- New Message Modal -->

<section id="newMessageModal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="newMessageModalLabel">
  <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="text-center modal-title">New Message</h4>
     </div>
     <div class="modal-body">
       <form action="/api/messages" method="POST">
         <fieldset class="form-group">
           <label>Recipient</label>
           <input type="text" name="receiver_id" class="form-control">
         </fieldset>
         <fieldset class="form-group">
          <label>Title</label>
          <input type="text" name="msg_title" class="form-control">
         </fieldset>
         <fieldset class="form-group">
          <label>Message</label>
          <textarea class="form-control" name="msg_body"></textarea>
         </fieldset>
         <fieldset class="form-group">
           <button type="submit" class="btn btn-primary purpback form-control">Send Message</button>
         </fieldset>
       </form>
      </div>
   </div>
 </div>
</section>
