// -- Core -- //
@import 'core/variables';
@import 'core/common';

// -- Controllers -- //
@import 'controllers/dashboard';
@import 'controllers/session-view';
@import 'controllers/new-session';

// -- Directives -- //
@import 'directives/navbar';

// -- Partials -- //
@import 'partials/landing';







/* Animations */

.fade .ng-enter {
  transition: 0.5s ease all;
  opacity:0;

  .ng-enter-active {
    opacity:1;
  }
}
