// -- Fonts -- //
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:400,500i,700';
$rale: 'Raleway', sans-serif;
$play: 'Playfair Display', serif;

// -- Color -- //
$background:#3e3e3e;
$text: #f9f9f9;
$purp: #AD5BF5;
$page: #4a4a4a;

// -- Landing -- //
$landing-background: $page;
